# Q1:

In [11]:
ch=input("insert a list")
ch1=ch.split(',')
print(ch1)
k=1
for i in range(0,len(ch1)):
    k=k*int(ch1[i])
print(k)

insert a list1,2,3
['1', '2', '3']
6

# Q2:

In [5]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Q3:

In [22]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = dict(d1)
d3.update(d2)
for i, j in d1.items():
    for x, y in d2.items():
        if i==x:
            d3[i]=(j+y)
print (d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# Q4 :

In [45]:
list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def first(n): return n[-1]
def sort_list_first(tuples):
  return sorted(tuples, key=first)
print(sorted(list,reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]